doctype html
html
  head
    block title
    
    //- css
    block css

  body.wood-grain
    block content

    block javascript
      script(type='text/javascript' src='/bower/jquery/dist/jquery.min.js')
