extends base

//- Include mixins
include led-mixin.jade

block title
	title LED Rope Dashboard

block append css
//- Include page specific css here.

block content
	ul.led-rope
		- for (var i = 0; i < ledRope.length(); i++)
			li.led('data-index' = i)
				+led(ledRope.leds[i])
